body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(kepek/hatter.jpg);
    background-size:cover;
    background-position:top;
}

header {
    padding: 40px;
    text-align: center;
    color:white;
}

main {
    padding-bottom: 50px;
    padding-top:50px;
    padding-left: 15%;
    padding-right: 50%;
}
footer {
    color:white;
    padding: 10px;
    text-align:center;
    justify-content:
}
form {
    color:white;
}